* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   --primary_text_title: #000336;
   --primary_text_para: #000336;
   --primary_btn: #0e1b4c;
}

body {
   font-family: "Poppins", sans-serif;
   font-size: 1.6rem;
   background-color: #e5e5e5;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   width: 1440px;
   background-color: white;
   margin: auto;
}

/* common */
.content {
   width: 1110px;
   display: flex;
   flex-direction: column;
   /* margin-left: 165px; */
   position: relative;
}

a {
   text-decoration: none;
}

ul {
   display: flex;
}

.btn {
   height: 50px;
   border: none;
   background-color: var(--primary_btn);
   color: #fff;
   border-radius: 12px;
   cursor: pointer;
}

h2 {
   font-weight: 600;
   font-size: 35px;
   line-height: 35px;
   color: #000339;
}

.desc {
   font-weight: 500;
   font-size: 16px;
   line-height: 20px;
   color: #7d8589;
}

.line {
   width: 41px;
   height: 4px;
   background: #000339;
   border-radius: 12px;
}

/* TODO: Header */
.header {
   width: 100%;
   height: 736px;
   background-color: #e6f0ff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.header>.content {
   height: 100%;
}

/* TODO: navbar of header */
.navbar {
   width: inherit;
   height: 40px;
   margin-top: 38px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar>div:first-child {
   display: flex;
   align-items: center;
}

.navbar>div:first-child>.menu {
   display: flex;
   margin-left: 64px;
}

.navbar>div>.menu>li:not(:first-child) {
   margin-left: 28px;
}

.navbar>div>.menu>li>a {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: #4F5361;
}

.navbar>.action {
   display: flex;
}

.navbar>.action>.btn {
   height: 40px;
   border-radius: 8px;
   padding: 0 20px;
}

.btn.sign-in {
   background-color: transparent;
   color: var(--primary_btn);
}

/* hero info of header */
.hero-info {
   width: 559px;
   height: 371px;
   margin-top: 130px;
   display: flex;
   flex-direction: column;
}

.hero-info>p {
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 0.01em;
   color: #687690;
   margin-bottom: 8px;
}

.hero-info>h1 {
   font-weight: 700;
   font-size: 64px;
   line-height: 76px;
   color: var(--primary_text_title);
   margin-bottom: 30px;
}

.hero-info>p:nth-of-type(2) {
   font-weight: 400;
   font-size: 18px;
   line-height: 32px;
   color: #5A6473;
   margin-bottom: 40px;
}

.hero-info>button {
   width: 170px;
   height: 50px;
}

.hero_img {
   width: 584px;
   height: 619px;
   position: absolute;
   top: 117px;
   left: calc(791px - 165px);
}


/* TODO: Clients */
.client {
   height: 312px;
   margin-top: 79px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.client>.content {
   height: 228px;
   display: flex;
   justify-content: space-between;
}

/* TODO: Logo, Star and Desc for Clients */
.client>.content>div>.row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.client>.content>div>.row-01 {
   margin-bottom: 23px;
}

.client>.content>.client-logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* TODO: Logo Brand for Clients */
.client-logo {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* TODO: Guides */
.guides {
   margin-top: 40px;
   height: 585px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.guides>.content {
   width: 685px;
   height: 427px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* TODO: Guide Title and Desc for Guides */
.guides>.content>.guide-title {
   width: 459px;
   height: 130px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.guides>.content>.guide-title>.title {
   text-align: center;
   font-weight: 600;
   font-size: 35px;
   line-height: 35px;
   color: #000339;
   margin: 10px 0 20px 0;
}

.guides>.content>.guide-title>.desc {
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   text-align: center;
   color: #5A6473;
}

/* TODO: List Guide for Guides */
.guides>.content>.list-guide {
   margin: 70px 0 48px 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.guides>.content>.list-guide>.guide-item {
   height: 129px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.guide-item>h3 {
   margin: 26px 0 10px 0;
   font-weight: 500;
   font-size: 20px;
   line-height: 22px;
   text-align: center;
   color: #3b3c45;
}

.guide-item>.link>span {
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   color: #0689ff;
   margin-right: 4px;
}

/* TODO: Button "Sell Full Guidelines" for Guides */
.guide-btn {
   width: 170px;
   height: 50px;
}

/* TODO: Featured */
.featured {
   margin-top: 41px;
   width: 100%;
}

/* TODO: Featured-01 */
.featured-01 {
   height: 727px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #F5FAFE;
}

.featured-01>.content {
   height: calc(727px - 220px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/* TODO: Header for Featured-01 */
.featured-01>.content>header {
   height: 82px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.featured-01>.content>header>h2 {
   font-weight: 600;
   font-size: 35px;
   line-height: 35px;
   color: #000339;
}

.featured-01>.content>header>.row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.featured-01>.content>header>.row>p {
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #5A6473;
}

.featured-01>.content>header>.row>.link {
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
   color: #0689FF;
   display: flex;
   align-items: center;
}

.featured-01>.content>header>.row>.link>span {
   margin-right: 8px;
}

/* TODO: List Card for Featured-01 */
.featured-01>.content>.list-card {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.list-card>.item-card {
   display: flex;
   flex-direction: column;
   background: #FFFFFF;
   box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
   border-radius: 12px;
}

.list-card>.item-card>:not(img) {
   margin-left: 20px;
   margin-right: 40px;
}

.list-card>.item-card>p:first-of-type {
   font-weight: 600;
   font-size: 20px;
   line-height: 20px;
   color: #000339;
   margin: 17px 0 11px 20px;
}

.list-card>.item-card>p:nth-of-type(2) {
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;
   color: #A3A6AB;
   margin-bottom: 21px;
}

.list-card>.item-card>.convenient-icon {
   margin-bottom: 22px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.list-card>.item-card>.convenient-icon>div {
   display: flex;
   align-items: center;
}

.list-card>.item-card>.convenient-icon>div>img {
   margin-right: 8px;
}

/* TODO: Featured-02 */
.featured-02 {
   margin-top: 75px;
   height: 785px;
   position: relative;
}

.featured-02>.content {
   width: 1017px;
   height: 685px;
   position: absolute;
   inset: 50px 227px 50px 196px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.featured-02>.content>.row {
   display: flex;
}

.featured-02>.content>.row-card {
   height: 460px;
   padding: 0 23px 0 120px;
   justify-content: space-between;
   align-items: center;
}

.featured-02>.content>.row>.image {
   position: relative;
}

.featured-02>.content>.row>.image>img {
   width: 400px;
   height: 460px;
   filter: drop-shadow(40px 80px 155px rgba(30, 103, 113, 0.03));
   border-radius: 12px;
   transform: matrix(-1, 0, 0, 1, 0, 0);
   position: relative;
}

.featured-02>.content>.row>.image>.trend {
   width: 239px;
   height: 252px;
   position: absolute;
   inset: 0 281px 208px -120px;
   padding: 45px 22.89px 40.49px 21.18px;
   background: #FFFFFF;
   box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
   border-radius: 0px 0px 12px 12px;
   display: flex;
   flex-direction: column;
}

.featured-02>.content>.row>.image>.trend>.number {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.featured-02>.content>.row>.image>.trend>.number>h2 {
   font-weight: 700;
   font-size: 26px;
   line-height: 26px;
   letter-spacing: 0.01em;
   color: #000339;
}

.featured-02>.content>.row>.image>.trend>.desc {
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   color: #A7A7A7;
   margin-top: 8px;
   margin-bottom: 25.51px;
}

.featured-02>.content>.row>.image>.trend>.line {
   background: #E9E9E9;
   width: 100%;
   height: 1.2px;
   margin-bottom: 25.79px;
}

.featured-02>.content>.row>.image>.trend>.avatar-block {}

.avatar-block {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.avatar-block>.block {
   display: flex;
   justify-content: space-between;

}

.avatar-block>.block img {
   width: 16.34px;
   height: 16.34px;
   object-fit: cover;
   border-radius: 50%;
   /* margin-left: -3.03px; */
}


.avatar-block>.block>.group>img:not(:first-of-type) {
   margin-left: -3.03px;
}

.avatar-block>.block>.group {
   display: flex;
}

.avatar-block>.block>.two {
   width: 29.65px;
}

.avatar-block>.block>.three {
   width: 42.96px;
}

.avatar-block>.block>.four {
   width: 56.27px;
}

/* TODO: Infor of Featured-02 */
.featured-02>.content>.row>.info {
   width: 309px;
   height: 326px;
}

.featured-02>.content>.row>.info>.sub-title {
   width: 269px;
   height: 142px;
   font-size: 35px;
   font-weight: 600;
   line-height: 45px;
   color: #000339;
   margin: 10px 40px 20px 0;
}

.featured-02>.content>.row>.info>.desc {
   width: 100%;
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #5A6473;
}

/* TODO: Part Statistics for Featured-02 */
.row-qty {
   width: 100%;
   height: 117px;
   display: flex;
   justify-content: space-between;
}

.row-qty>.qty-item>.qty {
   font-weight: 600;
   font-size: 64px;
   line-height: 64px;
   color: #000000;
}

.row-qty>.qty-item>.qty-desc {
   margin-top: 22px;
   font-weight: 500;
   font-size: 18px;
   line-height: 27px;
   color: #7B8087;
}

/* TODO: Featured-03 */
.featured-03 {
   margin-top: 51px;
   margin-bottom: 55px;
   height: 409px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.featured-03>.content {
   height: 100%;
   border-radius: 20px;
   border: 1px solid green;
   display: flex;
   justify-content: end;
}

.featured-03>.content>.background {
   height: calc(100% - 39px);
   border-radius: 20px;
   background-color: #063183;
   display: flex;
}

.featured-03>.content>.background>.subscribe {
   width: 501px;
   height: 150px;
   margin: 110px auto auto 80px;
}

.featured-03>.content>.background>.subscribe>.sub-title {
   font-weight: 600;
   font-size: 35px;
   line-height: 35px;
   color: #FFFFFF;

}

.featured-03>.content>.background>.subscribe>.desc {
   font-weight: 400;
   font-size: 16px;
   line-height: 30px;
   color: #FFFFFF;
   opacity: 0.75;
   margin: 15px auto 20px auto;
}

.featured-03>.content>.background>.subscribe>.btn-subscribe {
   width: 151px;
   height: 50px;
   background: #FFFFFF;
   border-radius: 12px;
   font-weight: 500;
   font-size: 13px;
   line-height: 20px;
   color: #002366;
}

.featured-03>.content>.background>.illustration-image {
   position: absolute;
   inset: 1px 221px 31px 670px;
}

/* TODO: Footer */
.footer {
   height: 429px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer>.content {
   height: 321px;
}

/* TODO: List contain Links about Company of Footer */
.list-component {
   width: 100%;
   height: 223px;
   display: flex;
   justify-content: space-between;
}

.list-component>li>h4 {
   color: #1c1c1d;
   font-family: "Lato";
   font-weight: 700;
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 40px;
}

.list-link {
   flex-direction: column;
}

.list-link>li:not(:first-child) {
   margin-top: 21px;
}

.list-link>li>a {
   color: #7a7a7e;
   line-height: 24px;
}

.get-in-touch> :not(:first-child) {
   margin-top: 40px;
}

.get-in-touch>p {
   width: 257px;
   color: #7a7a7e;
   line-height: 28px;
}

.get-in-touch>.social-icon {
   width: 117px;
   height: 28.47px;
   display: flex;
   justify-content: space-between;
}

.social-icon>li {
   width: 28.47px;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f9f9f9;
   border-radius: 5px;
}

/* TODO: Part Logo and Copyright of Footer */
.copyright {
   width: 100%;
   height: 24px;
   margin-top: 74px;
   display: flex;
   justify-content: space-between;
}

.copyright>p {
   font-weight: 400;
   font-size: 14px;
   line-height: 21px;
   color: #c2c2c2;
}